:root {
  --roxo0-1: #e9b5e0;
  --roxo1: #bd58ac;
  --roxo2: #6b2284;
  --verde1: #d2e774;
  --verde2: #b4d247;
  --verde3: #80c24e;
  --verde4: #27921e;
  --cinza0-5: #fafafa;
  --cinza1: #f5f5f5;
  --cinza1-5: #f1f1f1;
  --cinza2: #cfcfcf;
  --cinza3: #a3a3a3;
  --branco: #ffffff;
  --vermelho: #d11414;
  --amarelo: #dfd01c;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--cinza1);

  background: repeating-linear-gradient(
    135deg,
    var(--cinza1),
    var(--cinza1) 10px,
    var(--cinza1-5) 10px,
    var(--cinza1-5) 20px
  );
}
